<p id="notice"><%= notice %></p>

<div class="title is-4 has-text-centered"><%= t('general.title') %></div>
<%= content_tag(:div, nil, :id => 'map', :data => { :places => @places }) %>

<%= javascript_pack_tag 'places/index' %>
